{% load static %}
<div class="row dashboard-cards d-flex justify-content-center">
  <div class="col-lg-4 col-sm-6 col-12">
    <a href="/api/apps/">
      <div class="card">
        <img class="card-img" src="{% static 'users/images/2760274.jpg' %}" alt="Apps">
        <div class="card-img-overlay">
          <h3 class="card-title">APPS</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-12">
    <a href="/api/subscriptions/">
      <div class="card">
        <img class="card-img" src="{% static 'users/images/9834595.jpg' %}" alt="Subscription">
        <div class="card-img-overlay">
          <h3 class="card-title">SUBSCRIPTION</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-12">
    <a href="/api/plans/">
      <div class="card">
        <img class="card-img" src="{% static 'users/images/2116313.jpg' %}" alt="Pricing">
        <div class="card-img-overlay">
          <h3 class="card-title">PRICING PLAN</h3>
        </div>
      </div>
    </a>
  </div>
</div>  